@media screen and (max-width: 808px) {
    div#Section2 {
        max-width: 100% !important;
    }
    div#Section4 {
        display: block !important;
    }

    div#Section4 {
        width: 100%;
        max-width: 100%;
    }
    div#Block3 {
        padding: 0px 50px;
    }

    div#NameMeHarderBro {
        padding: 20px 50px;
        text-align: center;
    }

    div#Block2 {
        flex-direction: column;
        text-align: center;
    }

    div#Section3 {
        max-width: 100% !important;
    }
}