.VideoBox1 {
    margin: auto; /* Auto margins to assist centering */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}


.video-tinted1 {
    position: absolute; /* Position it relative to the parent container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the container without distortion */
    max-width: 100%;
}

.video-tinted1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);  /* Red Tint with 40% opacity */
    pointer-events: none;  /* Prevents interaction with the video */
}

p#main1-heading {
    position: absolute;
    font-family: arial; /* Use absolute to position it within the parent container */
    top: 30%;
    left: 50%;
    width: 70%;
    text-align: center;
    transform: translate(-50%, -50%); /* Centers the heading */
    font-size: 30px;
    font-weight: bold;
    color: rgb(189, 254, 104);  /* White text color for contrast */
    z-index: 10; /* Make s5ure the heading stays on top of the video */
}

p#sub1-heading {
    position: absolute;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; /* Use absolute to position it within the parent container */
    top: 60%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%); /* Centers the heading */
    font-size: 16px;
    font-weight: bold;
    color: white;  /* White text color for contrast */
    z-index: 10; /* Make sure the heading stays on top of the video */
}

video.video-tinted2 {
    top: 130%;
    height: 50%;
    width: 100%;
    position: absolute;
    background-color: black;
    object-fit: cover;
    background: rgb(255, 4, 255);
}

p#main-heading2 {
    position: absolute;
    top: 140%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjusts to exactly center the element */
    z-index: 100;
    color:white;
    font:bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}

p#sub-heading2 {
    position: absolute;
    top: 160%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjusts to exactly center the element */
    z-index: 100;
    color:white;
    font:bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.form-container {
    top: 180% !important;
}

.Footer {
    top: 280% !important;
    position: absolute;
}

button#Book {
    background: green;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button#BookConsult {
    position: inherit !important;
    transform: none !important;
}